<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link href="css/bootstrap.css" rel="stylesheet" media="screen"/>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<div class="container-fluid">
    <div class="header">
        <div class="row-fluid">
            <div class="span1 offset10 text-center">登录</div>
            <div class="span1 text-center">注册</div>
        </div>
    </div>
    <div class="body">
        <ul class="nav nav-tabs">
            <li>
                <a href="#">Home</a>
            </li>
            <li class="active"><a href="#">12...</a></li>
            <li><a href="#">1...</a></li>
        </ul>
    </div>
    <div class="footer"></div>
</div>



<script src="js/jquery-3.3.1.js"></script>
<script src="js/bootstrap.js"></script>
</body>
</html>